numpy
pandas
matplotlib
pandas_datareader
yfinance
streamlit
tensorflow
keras.models
datetime
drive
sklearn
sklearn.preprocessing
model-loads
keras
MinMaxScaler
sklearn-pypi-package
scikit-learn
